<div class="container-fluid navbar_bg">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-search"></i>
                  </button>
                <a class="navbar-brand" href="#">Fotobook</a>
                <div class="collapse navbar-collapse">
                    <form class="form  my-0 custom_input">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
                    </form>
                </div>
                <a class="navbar-brand navbar-brand_login" href="#">Login</a>
            </nav>

        </div>
    </div>

    <div class="container">

        <div class="collapse navbar-collapse response_Search" id="navbarTogglerDemo01">
            <form class="form  my-0 reponse_input">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
            </form>
        </div>



        <div class="row justify-content-center mt-5">
            <div class="col-sm-8 col-md-4">
                <div class="login align-items-center">
                    <div class="card-body ">
                        <div class="div_title">
                            Fotobook Login
                        </div>
                        <div class="card mt-3 " style="margin-bottom: 1em;">
                            <div class="card-body card_body_logo">
                                <div class="div_logo">
                                    <img src="../Image/logo_google.png" class="img_logo float-left  ">
                                    <img src="../Image/logo_face.png" class="img_logo ">
                                    <img src="../Image/logo_twitte.png" class="img_logo float-right">
                                </div>
                            </div>
                        </div>
                        <div class="card" style="padding:2em; background-color:#F0F0F0">
                        <div class="div_logo mt-4">
                            <img  src="../Image/logo_profile.png" class="rounded-circle ">
                        </div>
                        
                        <form class="mt-2" id="form_signup">

                            <div class="form-group">

                                <input type="email" class="form-control" name="email_Input_Signup" id="email_Input_Signup" placeholder="Email">
                                <input type="password" class="form-control" name="password_Input_Signup" id="password_Input_Signup" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn loignbut" style="background-color: #3c5a96; color:#FFF">Login</button>
                            </div>
                            <div class="mt-3 text-center">
                                <a href="#">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <div class="mt-3 text-center">
                    <a href="signup.html">Create an account</a>
                </div>
            </div>
            <!--Grid column-->
        </div>
    </div>