body {
    margin: 0;
    font-size: 15px;
}
.row{
    border: 1px solid black;
}
/* header */
.head , .h-nav {
    background-color:#3C5A9A;
}
button.h-but {
    background-color: #F9F9F9;
}
.logo {
    color: #FFF;
}


/* content */
.content {
    margin: 80px;
    border: 1px solid black;
}
.r-form {
    max-width: 380px;
    margin: 0 auto;
}
.form-group {
    background-color: #eee;
    border-radius: 10px;
    padding: 15px 40px 30px;
    border: 2px solid #e5e5e5;
}
#submit-btn {
    width: 40%;
    margin: 0 auto;
}




/* phone screen */
@media only screen and (max-width: 576px) {
    .head #f-search {   
}
  }