body {
    margin: 0px;
    /* line-height: 1; */
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background: #FFFFFF;
}

.navbar_bg {
    background-color: #3c5a96;
}

.form-control {
    height: 2em;
}

.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
}

.navbar-brand {
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar-brand_login {
    font-size: 15px;
}

.custom_input {
    width: 400px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    .custom_input {
        width: 200px;
    }
}

@media (min-width: 576px) {
    .response_Search {
        display: none;
    }
    .reponse_input {
        width: 100%;
    }
    .col-sm-8 {
        padding-left: 0;
        padding-right: 0;
    }
}

.div_title {
    text-align: center;
    color: #42528E;
    font-weight: 500;
    font-size: 2em;
}

.card {
    border-radius: 1rem;
}

.card_body_logo {
    padding: 10px 10px 10px 10px;
}

.img_logo {
    width: 60px;
}

.div_logo {
    text-align: center;
    padding: 0 20px 0 20px;
}

.label_ {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.btn {
    font-weight: 900;
    font-size: 12px;
}

a {
    font-size: 0.8em;
}
.group {
    /* margin-bottom: 10px;
    margin-left: 15px; */
    background-color:red;
}