<div class="container-fluid navbar_bg">
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-search"></i>
                  </button>
                <a class="navbar-brand" href="#">Fotobook</a>
                <div class="collapse navbar-collapse">
                    <form class="form  my-0 custom_input">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
                    </form>
                </div>
                <a class="navbar-brand navbar-brand_login" href="login.html">Login</a>
            </nav>

        </div>
    </div>

    <div class="container">

        <div class="collapse navbar-collapse response_Search" id="navbarTogglerDemo01">
            <form class="form  my-0 reponse_input">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Photo/Album" aria-label="Search">
            </form>
        </div>



        <div class="row justify-content-center mt-5">
            <!--Grid column-->
            <div class="col-sm-8 col-md-4">
                <div class="login  align-items-center">
                    <div class="card-body">
                        <div class="div_title">
                            Fotobook Signup
                        </div>
                        <div class="card mt-3" style="margin-bottom: 1em;">
                            <div class="card-body card_body_logo">
                                <div class="div_logo">
                                    <img src="images/logo_google.png" class="img_logo float-left  ">
                                    <img src="images/logo_face.png" class="img_logo  ">
                                    <img src="images/logo_twitte.png" class="img_logo float-right">
                                </div>
                            </div>
                        </div>
                        <div class="card"  style="padding:2em; background-color:#F0F0F0">
                        <form class="mt-5" id="form_signup">
                            <div class="form-group">
                                <label class="label_" for="text">First Name</label>
                                <input type="text" class="form-control" name="text_Input_First_Signup" id="text_Input_First_Signup" placeholder="First Name">

                            </div>
                            <div class="form-group">
                                <label class="label_" for="text">Last Name</label>
                                <input type="text" class="form-control" name="text_Input_Last_Signup" id="text_Input_Last_Signup" placeholder="Last Name  ">
                            </div>
                            <div class="form-group">
                                <label class="label_" for="emali">Email</label>
                                <input type="email" class="form-control" name="email_Input_Signup" id="email_Input_Signup" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="label_" for="Password1">New Password</label>
                                <input type="password" class="form-control" name="password_Input_Signup" id="password_Input_Signup" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label class="label_" for="Password1">Password Confirmation</label>
                                <input type="password" class="form-control" name="password_Input_Confirm_Singup" id="password_Input_Confirm_Singup" placeholder="Password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn" style="background-color: #3c5a96; color:#FFF">Signup</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
    </div>
