body {
    margin: 0px;
    /* line-height: 1; */
    font-family: 'Roboto', sans-serif;
    background-position: center;
    font-size: 18px;
    background-color: #F8F8F8 !important;
    min-height: 900px;
}
.cus-card-color {
    background: #FFF;
}

.navbar_bg {
    background-color: #3c5a96;
}

.custom_input {
    width: 600px;
}
.photos_to_albums {
    display: flex;
	justify-content: center;
	align-items: center;
 }  
 .user .image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #3c5a96;
    color: #FFF;
    padding-top: 3px;
    padding-left: 5px;

 }
 .menu ul li {
     font-size: 22px;
     font-weight: 600;
     list-style: none;

 }
 .menu{
     margin-top: 20px;
     color: #3c5a96;
 }
 .customer {
    display: flex;
    justify-content: flex-end;
 }
 .customer-icon {
       background: #FFF;
       padding-left: 6px;
       padding-right: 6px;
       color: #3c5a96;
       font-weight: 600;
 }
 .customer-name{
     display: inline;
     color: #FFF;
 }
 .color-nav{
    color: #FFF;
    list-style: none;
 }
 .color-nav:hover{
    color: #FFF;
    list-style: none;
 }
 .search-icon {
     color:#FFF;
 }
 .logo {
     text-align: center;
 }
 .logo a {
    font-weight: 900;
}
 .logo a:hover {
    color: #FFF;
 }
/* modal */
 body.modal-open .op{
    filter: blur(5px);
 }
 
 .submenu {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
 }
 .submenu a {
    text-decoration: none;
 }
 .submenu a:hover {
    text-decoration: none;
    color:#3c5a96;
 }
 .feed-submenu {
     color:#3c5a96; 
 }
 .discover-submenu {
     color: black;
 }
 .cus-main{
     background-color: #FFF;
 }
 .cus {
    height: auto;
 }
 .cus-body{
     height: 240px;
 }
 .cus-body .name_user {
    margin-left: 10px;
 }
 .custitle {
     margin-top: 10px;
 }
 .cusdesc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
 }
 .cusdate{
    float:right;
 }
 .fa-heart {
    margin-left: 10px;
 }
 .edit-albums-form {
    display: flex;
	justify-content: center;
	align-items: center;
 }


 /* profile tab*/

 :root{
    --main-color:#3b5998;
}

.nav-bar{
    background:  var(--main-color);
    font-size: 18px;
    padding: 5px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 40px;
}

.nav-bar-brand {
    text-align: end;
}

.nav-bar-brand a{
    color: white;
    padding-top: 2px;
}

.nav-bar-brand a:hover{
    color: white;
    text-decoration: none;
}


.search-text input{
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 15px;
    padding-left: 1rem;
    height: 30px;
}

.account{
    justify-content: flex-end;
    display: flex;
}

.account img{
    width: 30px;
    border-radius: 50%;
}

.account .name{
    margin-left: 10px;
    color: white;
    font-size: 16px;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-log a{
    color: white;
    padding-top: 2px;
    padding-left: calc(100% - 90%);
    font-size: 16px;
}

.btn-log a:hover{
    text-decoration: none;
    color: #ffffffaf;
}


.out-card{
    background-color: #e7e7e7;
}

/* MID COL */
.mid-col{
    margin-top: 1rem;
    border-radius: 3px;
    background-color: white;
}

.info-top .avatar{
    text-align: center;
}

.info-top .avatar img{
    width: 80%;
    border-radius: 50%;
}

.following{
    text-align: center;
    display: flex;
}
.addphoto-but{
    float: right;

}

.info-top .name h1{
    font-weight: bold;
}

.sub-info .number{
    font-size: 25px;
    font-weight: bold;
    color: #a8a8a8cc;
}

.sub-info .sub-name-info{
    font-size: 15px;
    text-transform: uppercase;
    color: #a8a8a8cc;
    font-weight: bold;
}

.sub-info .sign-divide{
    margin-left: 6px;
    margin-right: 6px;
    color: #a8a8a8cc;
}


.items{
    padding: 15px 45px !important;
    border-radius: 4px;
    background: #fffcfc;
    box-shadow: 5px 5px 5px rgba(187, 176, 176, 0.5);
}

.items .avatar img{
    width: 70%;
    border-radius: 50%;
}

.items .avatar{
    text-align: center;
}

.items .name{
    text-align: center;
    font-weight: bold;
}
.photo, .album{
    text-align: center;
    color: var(--main-color);
}


.photo .number, .album .number{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    display: block;
}

.photo .type, .album .type{
    font-size: 15px;
}

.flw{
    text-align: center;
}


.custom-btn{
    cursor: pointer;
    font-weight: bold;
    outline: none !important;
    border: 2px solid #3c5a96;
    padding: 2px 20px;
    border-radius: 25px;
    background-color: white;
    color: #3c5a96;
    animation: ease-in 0.3s;
}



.custom-btn:hover{
    outline: none;
    background-color: #3c5a96;
    background-image: linear-gradient(315deg, #3c5a96 0%, #3c5a97 74%);
    color: white;
}


.custom-btn-following{
    cursor: pointer;    
    font-weight: bold;
    outline: none !important;
    border: 2px solid #ff4e00;
    padding: 2px 20px;
    border-radius: 25px;
    animation: ease-in 0.3s;
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    color: white;
}

.custom-btn-following:hover{
    outline: none;
    background: white;
    color: #ff4e00;
}
.custom-btn-addphoto{
    cursor: pointer;
    font-weight: bold;
    outline: none !important;
    border: 2px solid #009E4E;
    padding: 2px 20px;
    border-radius: 25px;
    background-color: #009E4E;
    color: #FFF;
    animation: ease-in 0.3s;
}



.custom-btn-addphoto:hover{
    outline: none;
    background-color: #FFF;
    background-image: linear-gradient(315deg, #FFF 0%, #FFF 74%);
    color: #009E4E;
}
.profiles-link {
    list-style: none;
    padding-left: 0;
}
.profiles-link li{
 float: left;
 padding-right: 20px;
 font-size: 25px;
 
}


@media (min-width: 800px) and (max-width: 1200px) {
    .custom_input {
        width: 300px;
    }
    .cus-body{
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    .custom_input {
        width: 200px;
    }
    .logo {
        margin-left:0;
    }
    .customer-name {
        display: none;
    }
}

@media (max-width: 576px) {
    .reponse_input {
        width: 100%;
    }
    .customer-name {
        display: none;
    }
}

