body {
    margin: 0px;
    /* line-height: 1; */
    font-family: 'Roboto', sans-serif;
    background-position: center;
    font-size: 18px;
    background-color: #F8F8F8 !important;
    min-height: 900px;
}
.cus-card-color {
    background: #FFF;
}

.navbar_bg {
    background-color: #3c5a96;
}

.custom_input {
    width: 600px;
}
.photos_to_albums {
    display: flex;
	justify-content: center;
	align-items: center;
 }  
 .user .image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #3c5a96;
    color: #FFF;
    padding-top: 3px;
    padding-left: 5px;

 }
 .menu ul li {
     font-size: 22px;
     font-weight: 600;
     list-style: none;

 }
 .menu{
     margin-top: 20px;
     color: #3c5a96;
 }
 .customer {
    display: flex;
    justify-content: flex-end;
 }
 .customer-icon {
       background: #FFF;
       padding-left: 6px;
       padding-right: 6px;
       color: #3c5a96;
       font-weight: 600;
 }
 .customer-name{
     display: inline;
     color: #FFF;
 }
 .color-nav{
    color: #FFF;
    list-style: none;
 }
 .color-nav:hover{
    color: #FFF;
    list-style: none;
 }
 .search-icon {
     color:#FFF;
 }
 .logo {
     text-align: center;
 }
 .logo a {
    font-weight: 900;
}
 .logo a:hover {
    color: #FFF;
 }
/* modal */
 body.modal-open .op{
    filter: blur(5px);
 }
 
 .submenu {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
 }
 .submenu a {
    text-decoration: none;
 }
 .submenu a:hover {
    text-decoration: none;
    color:#3c5a96;
 }
 .feed-submenu {
     color:#3c5a96; 
 }
 .discover-submenu {
     color: black;
 }
 .cus-main{
     background-color: #FFF;
 }
 .cus {
    height: auto;
 }
 .cus-body{
     height: 240px;
 }
 .cus-body .name_user {
    margin-left: 10px;
 }
 .custitle {
     margin-top: 10px;
 }
 .cusdesc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
 }
 .cusdate{
    float:right;
 }
 .fa-heart {
    margin-left: 10px;
 }
 .edit-albums-form {
    display: flex;
	justify-content: center;
	align-items: center;
 }

@media (min-width: 800px) and (max-width: 1200px) {
    .custom_input {
        width: 300px;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    .custom_input {
        width: 200px;
    }
    .logo {
        margin-left:0;
    }
    .customer-name {
        display: none;
    }
}

@media (max-width: 576px) {
    .reponse_input {
        width: 100%;
    }
    .customer-name {
        display: none;
    }
}

